---
// src/components/Preloader.astro
---
<div id="preloader" class="fixed inset-0 z-[100] flex flex-col items-center justify-center bg-[var(--color-noir)]">
  <div class="relative mb-8">
    <img 
      id="preloader-logo"
      src="/images/logo-caveduke.png" 
      alt="Caveduke" 
      class="h-20 md:h-28 w-auto brightness-0 invert opacity-0 scale-95"
    />
  </div>
  
  <p id="preloader-est" class="font-accent text-sm text-[var(--color-gold)] mt-4 tracking-[0.25em] opacity-0">
    EST. 1985
  </p>
</div>

<script>
  import { gsap } from 'gsap';

  window.addEventListener('load', () => {
    const tl = gsap.timeline();

    tl.to('#preloader-logo', {
      opacity: 1,
      scale: 1,
      duration: 1.2,
      ease: 'power3.out'
    })
    .to('#preloader-est', {
      opacity: 1,
      duration: 0.6,
      ease: 'power2.out'
    }, '-=0.4')
    .to('#preloader', {
      yPercent: -100,
      duration: 1,
      ease: 'power4.inOut',
      delay: 0.5
    });
  });
</script>
